<link rel="stylesheet" href="../public/style/home-styles.css" />
<link href="../public/style/login-styles.css" rel="stylesheet" />

<style>
  /* Nav Bar */
  .nav {
    height: 80px;
    width: 100% !important;
    background-color: #0e0e11;
    padding-top: 20px;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;

    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: white;
  }

  .nav > .nav-links > a:hover {
    background-color: #232323;
  }

  .nav > #nav-check {
    display: none;
  }

  /* Nav Bar media Queries */

  @media (max-width: 680px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid white;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #232323;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
</style>

<div class="container full-height-grow">
  <% include ./partials/nav %>

  <section class="login-main-section">
    <h1 class="login-text">
      Log
      <span class="accent-text">in.</span>
    </h1>
    <form action="/users/login" method="POST" class="login-form">
      <span class="accent-text-stroke">Login</span
      ><span> to access your tasks.</span>
      <br />
      <br />
      <br />
      <% include ./partials/messages %>
      <div class="input-group email">
        <label>Email:</label>
        <input
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          type="email"
          id="email"
          name="email"
        />
      </div>
      <div class="input-group">
        <label>Password:</label>
        <input
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          type="password"
          id="password"
          name="password"
        />
      </div>
      <div class="input-group">
        <button type="submit" class="btn">Login</button>
      </div>
      <!-- <div class="input-group-last">
        <a
          href="/forgotpassword"
          style="color: inherit; text-decoration: none"
          class="forgot-button"
          ><label>Forgot Password?</label></a
        >
      </div> -->
    </form>
  </section>
</div>
<div>
  <br />
  <br />
</div>
